<form style="padding:10px">
  <h1> collection Section </h1>
  <div class="form-group p-1">
    <label for="collectionName">collectionName</label>
    <input type="email" class="form-control" id="collectionName" placeholder="collection Name">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="mainImage">Main Image</label>
      <input type="file" class="form-control-file" id="mainImage">
    </div>
    <div class="p-1"> </div>
    <div class="form-group col-md-6">
      <label for="collectionImages">collection Images</label>
      <input type="file" class="form-control-file" id="collectionImages" multiple>
    </div>
  </div>

  <div class="form-group p-1">
    <label for="exampleInputPassword1">description</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>

  <div class="btn btn-primary" (click)="test();">Add collection</div>
</form>

<hr />

<!--style="overflow-y:hidden ; height:700px"-->
<div class="container-fluid">
  <div class="row">
    <div class="col col-lg-4 p-1" *ngFor="let item of Collections">
      <div class="card" style="width: 22rem;">
        <img class="card-img-top" src="{{item.Image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.Name}}</h5>
          <p class="card-text">{{item.Description}}</p>
          <div class="btn btn-primary" (click)="deleteCollection(item.Id)">delete</div>
        </div>
      </div>
    </div>
  </div>




</div>

<form style="padding:10px">
  <h1> Information section </h1>


  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="email">Email</label>
      <input type="email" class="form-control" value="{{Email}}" #_Email placeholder="Email">
    </div>

    <div class="form-group col-md-5">
      <label for="Phone">Phone</label>
      <input type="text" class="form-control" value="{{Phone}}" #_Phone placeholder="Phone">
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="address">Address</label>
      <input type="text" class="form-control" value="{{Address}}" #_Address placeholder="address">
    </div>
  </div>
  <!--<div class="form-row">
    <div class="form-group col-md-5">
    <label for="instagramURL">instagram URL</label>
    <input type="text" class="form-control" value="{{InstagramURL}}" #_InstagramURL placeholder="instagram URL">
  </div>
    <div class="form-group col-md-5">
    <label for="facebookURL">facebook URL</label>
    <input type="text" class="form-control" value="{{FacebookURL}}" #_FacebookURL  placeholder="facebook URL">
  </div>

  </div>-->
  <br />
  <div class="alert alert-success col col-lg-4 p-1" role="alert" *ngIf="EditAdminInfoSucess == true">
    Editing completed successfully
  </div>

  <div class="alert alert-danger col col-lg-4 p-1" role="alert" *ngIf="EditAdminInfoSucess == false">
    Error
  </div>


  <div class="p-1"></div>
  <!-- _FacebookURL.value, _InstagramURL.value-->
  <div class="btn btn-primary" (click)="EditAdminInfo(_Email.value  , _Phone.value , _Address.value);">Edit Your info</div>
</form>

<hr />

<h1>feedback Section</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="th-lg">Email</th>
        <th class="th-lg">subject</th>
        <th class="th-lg">Message</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of feedback">
        <th scope="row">{{item.Subject}}</th>
        <td>{{item.Message}}</td>
        <td>{{item.PhoneNumber}}</td>
        <td>{{item.Email}}</td>
      </tr>
    </tbody>
    <!--Table body-->

  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <div class="page-link" aria-label="Previous" (click)="Previous()">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </div>
      </li>

      <li class="page-item"><a class="page-link" (click)="pagination(1);">1</a></li>
      <li class="page-item"><a class="page-link" (click)="pagination(2);">2</a></li>
      <li class="page-item"><a class="page-link" (click)="pagination(3);">3</a></li>
      <li class="page-item"><a class="page-link" (click)="pagination(4);">4</a></li>
      <li class="page-item"><a class="page-link" (click)="pagination(5);">5</a></li>


      <li class="page-item">
        <div class="page-link" aria-label="Next" (click)="Next()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </div>
      </li>
    </ul>
  </nav>

</div>




