<p id="a">test works!</p>

<!-- 
<animation></animation> -->


<!-- <div id="divChart">

<canvas id="MyChart"></canvas>
</div>
<button mat-button> button1 </button>


<barchart></barchart>

<table style="width:100% ;  border: 1px solid black;" id="table">
    <tr style="background-color: blueviolet;">
    <th>first name </th>
    <th>last name </th>
    <th>age </th>
    <th>cousre</th>
    </tr>
    <tr>
        <td>
            qsaui  khallaf sddsfsdfsdfsdfsdfsdfsdfsdfs
        </td>
        <td>
            khallaf sddsfsdfsdfsdfsdfsdfsdfsdfs
        </td>
        <td>
            23qsaui  khallaf sddsfsdfsdfsdfsdfsdfsdfsdfs
        </td>
        <td>
            tttttqsaui  khallaf sddsfsdfsdfsdfsdfsdfsdfsdfs
        </td>
    </tr>
    <tr>
        <td>
            qsaui
        </td>
        <td>
            khallaf
        </td>
        <td>
            23
        </td>
        <td>
            ttttt
        </td>
    </tr>

</table>
  <button mat-button   color="primary" (click)="downlodePDF()" > EXPORT TO PDF  </button>

  <button mat-raised-button color="buttonSuccess">Success</button>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  

  <div fxLayout="row" fxLayoutAlign="space-between start" style="max-height:250px ; overflow-y:auto" fxLayoutGap="25px" >
    <div>
      عناصر تم ادخالها
    
    </div>

    <div>
      عناصر موجودة سابقاً
     
    </div>

    <div>
      عناصر غير صالحة
    </div>
  </div> -->

  <!--<div>
    <h2>{{ 'HELLO.h1' | translate: { user: "qusai 1 " } }}</h2>
    <p>
      {{ 'HELLO.h1' | translate: { user: "qusai 2 " } }}
    </p>
    <label for="">
      {{ 'HELLO.h1' | translate: { user: "qusai  3 " } }}
      <select #langselect (change)="translate.use(langselect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang"> {{lang}}</option>
      </select>
    </label>
  </div>-->
